@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Assuming .image-container is the appropriate class */
.image-container {
  height: 80%; /* Make sure image-container takes up the full height of the slick-slide */
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  height: 450px; /* Adjust the height as needed */
}





