@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Optional, to center vertically */
  }

.slick-dots li button:before {
  color: rgba(255, 255, 255, 0.6); /* Adjust the color as needed */
}
